:root, html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 1.2em;
    padding: 0 0.5em;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    color: initial;
}

/* ------------- Main boxes --------------- */

.left-side-grey {
    background-color: rgb(70, 70, 70);
    box-sizing: border-box;
    z-index: -1;
    height: 50vh;
    margin: 12rem 0;
    position: fixed;
    left: 0;
    width: 4%;
}

.wrapper {
    margin: 6em 0;
    box-sizing: border-box;
    background-color: #fff;
    /*changed size for articles to line up on page load -J*/
    height: 72vh;
    width: 95vw;
}

.right-side-grey {
    background-color: rgb(70, 70, 70);
    box-sizing: border-box;
    z-index: -1;
    height: 50vh;
    margin: 12rem 0;
    position: fixed;
    right: 0;
    width: 4%;
}

/* ---------------------------------------- */

/*------------- NAV ------------------------*/

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.logo span {
    font-size: 3rem;
    padding: 0.5rem 1rem;
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
}

/*------------------------------------------*/

/*-------------- GRID ----------------------*/

.media-container {
    max-height: 80%;
    /*^ 80% of wrapper 80vh -J*/
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /*^ Fix Grid overflow*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.8rem;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

.article {
    grid-column: auto / span 2;
    border-radius: 15px;
    color: #fff;
}

/* Changed to nth-of-type and sizes for first 3 articles repeats */

.article:nth-of-type(10n+1) {
    grid-column: auto / span 5;
    grid-row: auto / span 3;
    font-size: 2rem;
}

.article:nth-of-type(10n+2) {
    grid-column: auto / span 5;
    grid-row: auto / span 3;
    font-size: 2rem;
}

.article:nth-of-type(10n+3) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    font-size: 2rem;
}

/*-----------------------------------------*/

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem;
    background-color: #fff;
    font-weight: bold;
}

footer div {
    padding: 0 1rem;
}

/*-----Custom - Scroll -----*/

::-webkit-scrollbar {
    display: none;
}